<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Documento</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                    {% if not usuario %}
                        <a href="/">Inicio</a>
                    {% else %}
                        {{ usuario }}
                    {% endif %}
                </li>
                {% if usuario %}
                    <li>
                        <a href="/formulario_1?user={{usuario}}" user="{{usuario}}">Dashboard</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/auth/facebook">FB Login</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="/contact_me">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}
                    {% if usuario %}
                        <table>
                            <tr>
                                <td>
                                    <h1>{{ usuario }}</h1>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <h1>Pagina de Prueba</h1>
                    {% endif %}

                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                {% endblock %}
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            {% if preguntas %}
                <table align="center" width="500" style="border: 1 solid black;">
                    <thead>
                        <th>
                            <td>
                                <h2>
                                    Preguntas
                                </h2>
                            </td>
                        </th>
                    </thead>
                    <tbody>
                        {% for pregunta in preguntas %}
                            <tr>
                                <td width="150">
                                    {{ pregunta.user.username }}
                                    <br/>
                                    {{ pregunta.fecha|date('y-m-d') }}
                                </td>
                                <td>
                                    <h4><a href="/preguntas/{{pregunta.slug}}">{{pregunta.titulo}}</a></h4>
                                    <p>
                                        {{pregunta.contenido}}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script >

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
