<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Documento</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                    {% if not usuario %}
                        <a href="/">Inicio</a>
                    {% else %}
                        {{ foto }} {{ usuario }}
                    {% endif %}
                </li>
                {% if usuario %}
                    <li>
                        <a href="/formulario_1">Dashboard</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/auth/facebook">FB Login</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <form method="POST" action="guardado">
                    Nombre: <input type="text" name="nombre" value="{{ usuario }}"/>
                    Correo: <input type="text" name="correo" value=""/>
                    Tlf: <input type="text" name="numero" value=""/>
                    <input type="submit" name="enviar" value="Guardar"/>
                </form>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script >

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
